div.customDropdownMain {
	position: absolute;
	border: 2px solid black;
	background-color: #f7f7f7;
}

div.customDropDownMain:hover {
	background-color: #efefef;
}

div.customDropdownOptions {
	position: absolute;
	border: 1px solid gray;
	background-color: #f7f7f7;
}

div.customDropdownEntry {
	position: absolute;
	border: 0px;
	background-color: #efefef;
}

div.customDropdownEntry:hover {
	background-color: #80ceed;
}


input.amount {
	width: 50px;
}

input.beaconAmount {
	width: 50px;
}

div.input {
	border: 2px solid black;
	padding: 5px;
	width: 47%;
	height: 150px;
	left: 1%;
	top: 4px;
	position: absolute;
}

div.selection {
	border: 2px solid black;
	padding: 5px;
	width: 47%;
	height: 150px;
	left: 51%;
	top: 4px;
	position: absolute;
}

div.frame {
	border: 2px solid black;
	width: 100%;
	height: 500px;
	top: 170px;
	position: relative;
	overflow: auto;
}

div.machine {
	background-color: white;
	border: 2px solid black;
	width: 64px;
	height: 64px;
	position: absolute;
	font-size: 10pt;
}

div.machine:hover{
	background-color: #80ceed;
}

div.modules {
	border: 1px solid blue;
	position: relative;
	padding: 0; 
}

div.moduleSlot {
	border: 2px solid black;
	position: absolute;
}

select {
	position: relative;
	top: 170px;
}

p.below {
	position: relative;
	top: 170px;
}

select.final {
	position: static;
}

select.changeMachine {
	position: relative;
	top: 5px;
	right: 5px;
}



td {
	border: 1px red solid;
}
